@{
    ViewBag.Title = "Authorization Manager Page";
}

<div class="jumbotron">
    <h1>Authorization Manager</h1>
    <p class="lead">Authorization Manager is a web tool for manage the configuration of the authorization access to your services. You can manage scopes, claims, clients and assign scopes and claims to clients.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Authorization Manager</h2>
        <p>The project its in alpha version and its sources are hosted in github. You can find the current sources in dev branch</p>
        <p><a class="btn btn-default" href="https://github.com/AlbertoLeon/AuthorizationManager">AuthorizationManager on GitHub</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Thinktecture libraries</h2>
        <p>The libraries to run this site are located in Nuget and Github. It is Open Source.</p>
        <p><a class="btn btn-default" href="https://www.nuget.org/packages/Thinktecture.IdentityServer3/">IndentityServer3 on Nuget</a></p>
        <p><a class="btn btn-default" href="https://github.com/IdentityServer/Thinktecture.IdentityServer3">TIndentityServer3 on Github</a></p>
        <p><a class="btn btn-default" href="https://www.nuget.org/packages/Thinktecture.IdentityServer3.EntityFramework/">IndentityServer3.EntityFramework on Nuget</a></p>
        <p><a class="btn btn-default" href="https://github.com/IdentityServer/Thinktecture.IdentityServer3.EntityFramework">IndentityServer3.EntityFramework on Github</a></p>
    </div>
    <div class="col-md-4">
        <h2>OAuth 2.0</h2>
        <p>The OAuth 2.0 authorization framework enables a third-party
            application to obtain limited access to an HTTP service, either on
            behalf of a resource owner by orchestrating an approval interaction
            between the resource owner and the HTTP service, or by allowing the
            third-party application to obtain access on its own behalf.</p>
        <p><a class="btn btn-default" href="http://aaronparecki.com/articles/2012/07/29/1/oauth2-simplified">Simplified</a></p>
        <p><a class="btn btn-default" href="http://oauth.net/documentation/">Extended</a></p>
    </div>
</div>