
@{
    Layout = null;
}

<h4 class="list-group-item-heading">{{name}}</h4>
<span class="btn btn-default" ngshow="canBeAdded">Add</span>
<span class="btn btn-default" ngshow="canBeRemoved">Remove</span>

